<div id="main">
  <div id="welcomeDesktopBackground"
       style="opacity: 67%; background: url(assets/main_background.jpg) no-repeat center; background-size: 100vmax;">
  </div>
  <div id="header">
  </div>


  <div id="oval1">
  </div>

  <div id="oval2" class="glow">
  </div>
  <div id="oval3" class="glow">
  </div>
  <div id="oval4" class="glow">
  </div>

  <div id="oval5">

  </div>
  <div id="companyName">
    Pomoshnik.Pro
  </div>
  <div id="description">
    Мы предоставляем услуги по подбору ассистентов, выполняющих различный спектр услуг. Планирование семейных
    праздников, организация деловых встреч, составление распорядка дня - все эти задачи Вы можете поручить
    высококвалифицированным ассистентам, тщательно подобранными нашей компанией.
  </div>
  <button id="startWork" class="shadowButton">Начать работу</button>
  <div id="feedbackInfo" class="shadowButton">
    <button id="feedback">
      <div id="feedbackText">
        Связаться с нами
      </div>
    </button>
  </div>
</div>

