<div id="teamPage">
  <div id="team">
    Команда
  </div>
  <div id="line">

  </div>
  <div id="teamDescription">
    Порядок отбора сотрудников, установленный нашей компанией, гарантирует качественное решение ваших проблем. В случае,
    если предложенный нами ассистент не соответствует заявленным требованиям, мы бесплатно предоставим Вам другого
    работника. Pomoshnik.pro опровергает стереотип о том, что профессионализм и низкие цены - понятие несовместимые.
  </div>


  <p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
    <ng-template let-items pTemplate="item">
      <div id="tmCard">
      <div class="teamCard" [id]="items.id">
        <img alt="Card" [src]=items.image class="cardImage"/>

        <ng-container *ngIf="items.name">
          <p class="teamCardName">{{ items.name }}</p>
        </ng-container>

        <ng-container *ngIf="items.info">
          <p class="teamCardInfo">{{ items.info }}</p>
        </ng-container>

        <ng-container *ngIf="items.description">
          <p class="teamCardDescription">{{ items.description }}</p>
        </ng-container>

        <ng-container *ngIf="items.telegram">
          <a [href]="items.telegramLink" class="cardContact">
            <img alt="telegramIcon" ngSrc="assets/telegram_icon.png" height="1024" width="1024" id="telegramIcon"/>
            <p class="cardContactText">{{ items.telegram}}</p>
          </a>
        </ng-container>

        <ng-container *ngIf="items.phone">
          <a [href]="items.phoneLink" class="cardContact">
            <img alt="telephoneIcon" ngSrc="assets/telephone_icon.png" height="88" width="96" id="telephoneIcon"/>
            <p class="cardContactText">{{ items.phone}}</p>
          </a>
        </ng-container>
      </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

