<div id="teamPage">
  <div id="team">
    Команда
  </div>
  <div id="line">

  </div>
  <div id="teamDescription">
    Порядок отбора сотрудников, установленный нашей компанией, гарантирует качественное решение ваших проблем. В случае,
    если предложенный нами ассистент не соответствует заявленным требованиям, мы бесплатно предоставим Вам другого
    работника. Pomoshnik.pro опровергает стереотип о том, что профессионализм и низкие цены - понятие несовместимые.
  </div>


  <p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
    <ng-template let-items pTemplate="item">
      <div id="tmCard">
      <div class="teamCard" [id]="items.id">
        <img alt="Card" [src]=items.image class="cardImage"/>

        <ng-container *ngIf="items.name">
          <p class="teamCardName">{{ items.name }}</p>
        </ng-container>

        <ng-container *ngIf="items.info">
          <p class="teamCardInfo">{{ items.info }}</p>
        </ng-container>

        <ng-container *ngIf="items.description">
          <p class="teamCardDescription">{{ items.description }}</p>
        </ng-container>

        <ng-container *ngIf="items.telegram">
          <a [href]="items.telegramLink" class="cardContact">
            <img alt="telegramIcon" ngSrc="assets/telegram_icon.png" height="1024" width="1024" id="telegramIcon"/>
            <p class="cardContactText">{{ items.telegram}}</p>
          </a>
        </ng-container>

        <ng-container *ngIf="items.phone">
          <a [href]="items.phoneLink" class="cardContact">
            <img alt="telephoneIcon" ngSrc="assets/telephone_icon.png" height="88" width="96" id="telephoneIcon"/>
            <p class="cardContactText">{{ items.phone}}</p>
          </a>
        </ng-container>
      </div>
      </div>
    </ng-template>
  </p-carousel>


  <!--  <p-carousel [value]="team" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">-->
<!--    <ng-template pTemplate="item">-->
<!--    <div class="teamCard" id="card1">-->
<!--      <img alt="Card" ngSrc="assets/team_icon.png" height="528" width="528" class="cardImage"/>-->
<!--      <p class="teamCardName">-->
<!--        Дмитрий Матвеев-->
<!--      </p>-->
<!--      <p class="teamCardInfo">-->
<!--        Lorem ipsum dolor sit amet, consectetur-->
<!--      </p>-->
<!--      <p class="teamCardDescription">-->
<!--        Lorem ipsum dolor sit amet, consectetur-->
<!--      </p>-->
<!--      <a href="https://t.me/SloggerD" class="cardContact">-->
<!--        <img alt="telegramIcon" ngSrc="assets/telegram_icon.png" height="1024" width="1024" id="telegramIcon"/>-->
<!--        <p class="cardContactText">-->
<!--          &#64;SloggerD-->
<!--        </p>-->
<!--      </a>-->
<!--      <a href="tel:+79223665138" class="cardContact">-->
<!--        <img alt="telephoneIcon" ngSrc="assets/telephone_icon.png" height="88" width="96" id="telephoneIcon"/>-->
<!--        <p class="cardContactText">-->
<!--          +7 (922) 366-51-38-->
<!--        </p>-->
<!--      </a>-->

<!--    </div>-->


<!--    <div class="teamCard" id="card2">-->
<!--      <img alt="Card" ngSrc="assets/team_icon.png" height="528" width="528" class="cardImage"/>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam-->
<!--        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate-->
<!--        neque-->
<!--        quas!-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="teamCard" id="card3">-->
<!--      <img alt="Card" ngSrc="assets/team_icon.png" height="528" width="528" class="cardImage"/>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam-->
<!--        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate-->
<!--        neque-->
<!--        quas!-->
<!--      </p>-->
<!--    </div>-->
<!--    </ng-template>-->
<!--  </p-carousel>-->


</div>

